<%- include("header"); -%>

<div class="row">
  <div class="col-md-2">
    <div class="container how-to">
      <h5>How-to</h5>
      <br />
      <p class="description">
        This tool allows you to obtain predictions from and visualise
        <a href="https://arxiv.org/abs/1809.00888">MesoNet</a>, a deepfake
        detector Enter the number of images, select a particular MesoNet variant
        to use, check any convolutional layers you want to visualise and hit
        submit! Voila! The tool will randomly select images from a dataset, make
        predictions, draw some plots and will show you the results!
      </p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="heading">
      <h1>MesoNet</h1>
      <!-- <p class="sub-heading">A Deepfake Detector</p> -->
    </div>
    <div class="top-layer">
      <div class="container form-container">
        <form action="" method="POST">
          <div class="img-form form-group input-group">
            <input
              type="number"
              class="form-control"
              id="images"
              name="images"
              placeholder="Number of images"
              required
            />
            <button type="submit" class="btn btn-md btn-light mt-5">
              Predict
            </button>
          </div>
          <% if(size) { %>
          <small class="text-muted"
            >Limit exceeded. Please give a value within range <%= size %></small
          >
          <% } %>
          <div id="radios" class="form-radios">
            <small>MesoNet Variant</small>
            <hr style="width: 15rem" />
            <% for(var i = 0; i < modelLength; ++i) { %>
            <div class="form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="models"
                id="<%= 'model' + (i+1) %>"
                value="<%= id[i] %>"
                required
              />
              <label class="form-check-label" for="<%= 'model' + (i+1) %>">
                Model <%= i+1 %>
              </label>
            </div>
            <% } %>
          </div>
          <br />
          <div id="checkboxes" class="form-check checkboxes"></div>
        </form>
      </div>
    </div>
  </div>
  <button type="submit" style="display: none"></button>
  <div class="col-md-2 sidenav">
    <% for(var i = 0; i < modelLength; ++i) { %>
    <div id="sidebar" class="sidebar <%= 'model' + (i+1) %>">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <h2 class="side-model <%= 'model-name' + (i+1) %>"></h2>
      <br />
      <p class="side-model-desc <%= 'model-desc' + (i+1) %>">Description:</p>
      <br />
      <p class="loss-label">Loss Curve:</p>
      <img
        class="side-model-img <%= 'model-img' + (i+1) %>"
        src=""
        alt="loss curve"
      />
      <br />
      <br />
      <p class="acc-head">Accuracy:</p>
      <h2 class="side-acc <%= 'accuracy' + (i+1) %>"></h2>
      <br />
      <p class="clr-label <%= 'model-clr' + (i+1) %>">ROC Report:</p>
      <div class="table-div">
        <table class="table table-dark side-table">
          <thead>
            <tr>
              <% clrCols.forEach(function(col) { %>
              <th scope="col"><%= col %></th>
              <% }) %>
            </tr>
          </thead>
          <tbody id="<%= 'tbody' + (i+1) %>"></tbody>
        </table>
      </div>
    </div>
    <% } %>
  </div>
</div>

<span id="layersData" hidden><%= JSON.stringify(layers) %></span>
<span id="layersLengthData" hidden> <%= JSON.stringify(layersLength) %> </span>
<span id="modelData" hidden> <%= JSON.stringify(model) %> </span>
<span id="accuracyData" hidden> <%= JSON.stringify(accuracy) %> </span>
<span id="idData" hidden> <%= JSON.stringify(id) %> </span>
<span id="lossData" hidden> <%= JSON.stringify(lossCurve) %> </span>
<span id="descData" hidden> <%= JSON.stringify(desc) %> </span>
<span id="clrData" hidden> <%= JSON.stringify(clr) %> </span>
<span id="clrColsData" hidden> <%= JSON.stringify(clrCols) %> </span>

<script src="/index.js"></script>

<%- include("footer"); -%>
